{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2022",
    "keepClassNames": true,
    "baseUrl": "./",
    "paths": {
      "#shared/*": ["../../packages/shared/src/*"],
      "#server/db/*": ["./src/db/*"],
      "#server/lib/*": ["./src/lib/*"],
      "#server/kag/*": ["./src/modules/kag/internals/*"],
      "#server/indexer/*": ["./src/modules/indexer/internals/*"],
      "#server/providers/*": ["./src/modules/providers/internals/*"]
    }
  },
  "module": {
    "type": "commonjs",
    "strictMode": true,
    "noInterop": false
  }
}
